@model IEnumerable<GroceryApi.Models.GroceryItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityNeeded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Measurement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purchased)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityNeeded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Measurement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Purchased)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GroceryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GroceryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GroceryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
